.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);

}
.fade-leave-active {
  transition: opacity 1.5s;
}

.fade-leave-to {
  opacity: 0;
}

.change-enter-active{
  transition: opacity 0.5s ease-in;
}
.change-leave-active{
  transition: opacity 0.5s ease-in;
}
.change-enter,.change-leave-to{
  opacity: .1;
}

a {
	 color: gray;
   text-decoration: none;
}
.router-link-active {
	color: gray;
  text-decoration: none;
}
